*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background: rgba(228,154,100,255);
  }
  
  button{
    cursor: pointer;
  }
  
  .container{
    height : 460px;
    width : 240px;
    background-color: rgba(73,60,49,255);
    margin: auto auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 10px 10px black;
  }
  
  #hourglass{
    background: conic-gradient(#00a0b0 50%, #636361 50%);
    height: 220px;
    width: 210px;
    margin-top: 18px;
  }
  
  .pomo-timer{
    background-color: rgba(234,233,229,255);
    height: 170px;
    width: 180px;
    margin-top: 15px;
    margin-left: 15px;
  }
  
  .pomo-sections{
    background-color: rgba(73,60,49,255);
    height: 260px;
    width: 200px;
  }
  
  #pomo-time{
    display: flex;
    border-bottom: 1.5px dotted white;
    justify-content: space-evenly;
    padding: 15px;
  }
  
  .pom-time{
    color : white;
  }
  
  #pomo-session{
    color : white;
    font-size: 1.7rem;
    border-bottom: 1.5px dotted white;
    padding: 15px;
    display: flex;
    justify-content: center;
  }
  
  #sTime{
    font-size: 0.8rem;
  }
  
  #bTime{
    font-size: 0.8rem;
  }
  
  #session-set-time{
    color: rgba(0,160,176,255);
    font-size: 1.2rem;
  }
  
  #break-set-time{
    color : rgba(206,96,62,255);
    font-size: 1.2rem;
  }
  
  .btn{
    background-color: black;
    color: white;
    width: 23px;
    border-radius: 5px;
  }
  
  #pause-reset{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
  }
  
  .btn2{
    background-color: black;
    color: white;
    width: 60px;
    height: 50px;
    border-radius: 5px;
  }
  
  .pomo-timer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    color: rgba(0,160,176,255);
  }